/* Global */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #fff;
}

h2 {
    font-size: 32px;
    color: #d63384;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

/* Navbar */
nav {
    background: white;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 10;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #d63384;
    font-weight: bold;
}

/* Hero Section */
.hero {
    height: 70vh;
    background: url("https://images.unsplash.com/photo-1522673607200-164d1b6ce486?auto=format&fit=crop&w=1500&q=80") 
        no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 20px black;
    animation: fadeIn 2s ease-in-out;
}

/* Portfolio */
.portfolio-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-grid img {
    width: 28%;
    margin: 10px;
    border-radius: 12px;
    transform: scale(1);
    transition: 0.3s;
}

.portfolio-grid img:hover {
    transform: scale(1.05);
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    background: #ffe6f0;
    padding: 20px;
    margin: 15px;
    border-radius: 12px;
    width: 220px;
    font-weight: bold;
    animation: slideUp 1s ease-in-out;
}

/* Pricing Section */
.pricing-box {
    background: #fff0f5;
    padding: 20px;
    margin: 15px auto;
    width: 50%;
    border-left: 5px solid #d63384;
    font-weight: bold;
}



/* Testimonials  */
.testimonial-box {
    background: #ffe6f0;
    padding: 20px;
    border-radius: 12px;
    width: 60%;
    margin: 15px auto;
    animation: slideUp 1s ease-in-out;
}

/* Form Section */
input, textarea {
    width: 60%;
    padding: 12px;
    margin: 10px;
    border: 2px solid #d63384;
    border-radius: 8px;
}

button {
    background: #d63384;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background: #b4206c;
}

/* Footer */
footer {
    background: #d63384;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

/* Login Page */
.login-bg {
    background: url('https://images.unsplash.com/photo-1529634806980-bd34f63f3e0e') 
        no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: rgba(255,255,255,0.90);
    padding: 35px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

/* Animations */
@keyframes fadeIn { from {opacity:0;} to {opacity:1;} }
@keyframes slideUp { from {transform:translateY(40px);} to {transform: translateY(0);} }

